@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@100;200;300;400&family=Poppins:wght@400;500;600&display=swap');
.header .logo {
    font-family: 'Dela Gothic One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: 'Surt-MediumExp';
    src: url('./fonts/Surt-MediumExp.eot');
    src: url('./fonts/Surt-MediumExp.eot') format('embedded-opentype'),
         url('./fonts/Surt-MediumExp.ttf') format('truetype'),
         url('./fonts/Surt-MediumExp.woff') format('woff'),
         url('./fonts/Surt-MediumExp.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Surt-BlackExtended';
    src: url('./fonts/Surt-BlackExtended.eot');
    src: url('./fonts/Surt-BlackExtended.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Surt-BlackExtended.svg#Surt-BlackExtended') format('svg'),
         url('./fonts/Surt-BlackExtended.ttf') format('truetype'),
         url('./fonts/Surt-BlackExtended.woff') format('woff'),
         url('./fonts/Surt-BlackExtended.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Surt-LightExp';
    src: url('./fonts/Surt-LightExp..eot');
    src: url('./fonts/Surt-LightExp..eot?#iefix') format('embedded-opentype'),
         url('./fonts/Surt-LightExp..svg#Surt-LightExp.') format('svg'),
         url('./fonts/Surt-LightExp..ttf') format('truetype'),
         url('./fonts/Surt-LightExp..woff') format('woff'),
         url('./fonts/Surt-LightExp..woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Surt-Bold';
    src: url('./fonts/Surt-Bold.eot');
    src: url('./fonts/Surt-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Surt-Bold.svg#Surt-Bold') format('svg'),
         url('./fonts/Surt-Bold.ttf') format('truetype'),
         url('./fonts/Surt-Bold.woff') format('woff'),
         url('./fonts/Surt-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'a Atmospheric';
    src: url('./fonts/aAtmospheric.eot');
    src: url('./fonts/aAtmospheric.eot?#iefix') format('embedded-opentype'),
        url('./fonts/aAtmospheric.woff2') format('woff2'),
        url('./fonts/aAtmospheric.woff') format('woff'),
        url('./fonts/aAtmospheric.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.menu-drawer {
    transition: transform ease-in-out .5s;
}

.duration-7000 {
    -webkit-animation-duration: 7000ms;
}

body {
    min-height: 100vh;
}